.orders-Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    min-height: 600px;
}

.Orders-Display{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 2px solid;
    border-radius: 1rem;
    margin: 0 1%;
    background-color: bisque;
}

.order-Block{
    width:400px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: .5rem;
}

.transac-header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.transaceDecorator{
    position: absolute;
    font-size: 32px;
    transform: translateY(-70%) translateX(65%) rotate(35deg);
    stroke: black;
    stroke-width: 20px;
    filter: drop-shadow(1px -1px .5px black);
}

.transac-img-display{
    display: flex;
    border: 2px solid;
    height: 300px;
    width: 80%;
    flex-wrap: wrap;
    gap:50px;
    padding: 10px;
    border-radius: .5rem;
    justify-content: center;
    background-color: white;
}

.transac-img{
    height: 120px;
    width:120px;
    border: 3px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: lightgray;
}

.transac-img > img{
    max-height: 100%;
}

.transac-img > p{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transac-options > button{
    margin: 20px;
    height: 25px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: .5rem;
}

.transac-options > button:hover{
    cursor: pointer;
    background-color: rgb(222, 222, 222);
}
