.manageHolder {
    min-height: 500px;
    padding-bottom: 50px;
}

.manageInfo {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.toUpdateButton {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 15px;
    border-radius: .5rem;
}

.bodyManage {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow:hidden;
    width: 100%;
}

.toUpdateButton:hover {
    background-color: rgb(217, 225, 232);
    cursor: pointer;
}

.toUpdateButton:hover {
    cursor: pointer;
}

.toDeleteButton {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 15px;
    border-radius: .5rem;
}

.toDeleteButton:hover {
    border-color: black;
    color: aliceblue;
    background-color: red;
    cursor: pointer;
}

.disabled {
    opacity: 50%;
    cursor: default;
}

.disabled:hover {
    cursor: default;
    background-color: aliceblue;
    color: black;
}

.activeHeader {
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
}

.inactiveHeader {
    color: gray;
}

.inactiveHeader:hover {
    cursor: pointer;
    text-decoration: underline;
}

.manageTags {
    display: flex;
    column-gap: 5px;
}

.manageTags>p {
    background-color: gray;
    border: 2px solid gray;
    color: azure;
    border-radius: .5rem;
    padding: 4px;
}

.manageDisplay {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 auto;
    min-height: 600px;
    align-items: center;
}

.productBlockManage {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    border: 5px solid darkgray;
    height: 250px;
    width: 950px;
    padding: 25px;
    justify-content: center;
    background-color: darkgray;
    border-radius: 3rem;
}

.productBlockManage:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1rem;
}

.manageDescription {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priceManage {
    margin: 0;
}

.spinner {
    color: black;
    font-size: 4rem;
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes spinner {
    0% {
        scale: 1.0;
        transform: rotate(0deg);
    }

    100% {
        scale: 1.0;
        transform: rotate(720deg);
    }
}

.reviewBlockManage {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    border: 5px solid darkgray;
    height: 250px;
    width: 950px;
    padding: 25px;
    background-color: darkgray;
    border-radius: 3rem;
    gap: 50px;
}

.reviewBlockManage:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1rem;
}

.reviewBlockMLeft {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewBImageHolder {
    height: 75%;
    width: 100%;
    border: 7px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: lightgray;
    border-radius: 1rem;
}

.reviewBImageHolder>img {
    max-height: 100%;
}

.reviewBInfo {
    width: 50%;
    height: 100%;
}

.reviewIDescript {
    background-color: white;
    height: 80%;
    width: 100%;
    word-break: break-all;
    text-wrap: wrap;
    padding: 10px;
    border: 5px solid;
    border-radius: 1rem;
}

.manageRating {
    display: flex;
    align-items: center;
}

@media screen and (max-width:1050px) {
    .manageHolder {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .productBlockManage {
        height: 200px;
        width: 80%;
    }

    .reviewBlockManage {
        height: 200px;
        width: 80%;
    }

    .bodyManage {
        width: 95%;
    }

    .reviewIDescript {
        height: 65%;
    }

    .imageHolder {
        width: 256px;
    }

    .manageTags>p {
        margin: 0;
    }

    .manageTags {
        display: none;
    }

    .paginationNav {
        font-size: 22px;
    }

    .manageInfo {
        justify-content: center;
        column-gap: 50px;
    }
}

@media screen and (max-width:750px) {
    .blockHolder {
        min-height: 100px;
    }

    .manageInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productBlockManage {
        height: 160px;
    }

    .reviewBlockManage {
        height: 160px;
    }

    .bodyManage {
        display: none;
    }

    .reviewIDescript {
        height: 40%;
        overflow-y: scroll;
    }

    .manageDescription>p {
        padding: 0;
        margin: 0%;
    }

    .imageHolder {
        height: 85%;
        width: 60%;
    }

    .paginationNav {
        font-size: 20px;
    }

    .mobileFilters {
        display: block;
    }
}
