.manageHolder{
    min-height: 500px;
    padding-bottom: 50px;
}

.manageInfo{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}


.toUpdateButton{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 15px;
    border-radius: .5rem;
}

.toUpdateButton:hover{
    background-color: rgb(217, 225, 232);
    cursor: pointer;
}

.toUpdateButton:hover{
    cursor: pointer;
}

.toDeleteButton{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 15px;
    border-radius: .5rem;
}

.toDeleteButton:hover{
    border-color: black;
    color: aliceblue;
    background-color: red;
    cursor: pointer;
}

.activeHeader{
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
}

.inactiveHeader{
    color: gray;
}

.inactiveHeader:hover{
    cursor: pointer;
    text-decoration: underline;
}

.manageTags{
    display: flex;
    column-gap: 5px;
}

.manageTags > p{
    background-color: gray;
    border: 2px solid gray;
    color: azure;
    border-radius: .5rem;
    padding: 4px;
}

.manageDisplay{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 auto;
    min-height: 600px;
    align-items: center;
}

.productBlockManage{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    border: 5px solid darkgray;
    height: 250px;
    width: 950px;
    padding: 25px;
    justify-content: center;
    background-color: darkgray;
    border-radius: 3rem;
}

.productBlockManage:hover{
    cursor: pointer;
    box-shadow: 5px 5px 1rem;
}

.manageDescription{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.priceManage{
    margin:0;
}

.spinner{
    color: black;
    font-size: 4rem;
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
