.splashPage{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.electronicButtonLower{
    position: absolute;
    height: 50px;
    width: 150px;
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: rgb(227, 227, 227);
    right: 20%;
    bottom: 20%;
    z-index: 2;
}

.electronicButton{
    position: absolute;
    height: 50px;
    width: 150px;
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: rgb(227, 227, 227);
    right: 20%;
    bottom: 20%;
    z-index: 3000;
}

.electronicButton:hover{
    cursor: pointer;
    /* animation: fillBottom 1s .1s ease-out; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: fillBottom;
    animation-duration: .25s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.electronicButton:not(:hover){
    animation-name: exitHover;
    animation-duration: .175s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.electronicButton:active{
    background-color: rgb(227, 227, 227);
}

.traditionalButtonLower{
    position: absolute;
    height: 50px;
    width: 150px;
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: rgb(227, 227, 227);
    left: 20%;
    bottom: 20%;
    z-index: 2;
}

.traditionalButton{
    position: absolute;
    height: 50px;
    width: 150px;
    margin-bottom: 0%;
    border-radius: 2rem;
    background-color: rgb(227, 227, 227);
    left: 20%;
    bottom: 20%;
    z-index: 3000;
}

.traditionalButton:hover{
    cursor: pointer;
    /* animation: fillBottom 1s .1s ease-out; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: fillBottom;
    animation-duration: .25s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.traditionalButton:not(:hover){
    animation-name: exitHover;
    animation-duration: .175s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.traditionalButton:active{
    background-color: rgb(227, 227, 227);
}

@keyframes exitHover{
    to {
        background-color: rgb(227, 227, 227);
    }

    from{
        background-color: rgb(153, 153, 153);
    }
}

@keyframes fillBottom{
    from {
        background-color: rgb(227, 227, 227);
    }

    to{
        background-color: rgb(153, 153, 153);
    }
}
.splashLeft{
    position: relative;
    margin: 0;
    margin-left: 0;
    height: 100%;
    width:50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: rgb(81, 81, 255);
    transform: scale(1.0,1.0);
    overflow: hidden;
}

.splashLeftExtend{
    position: relative;
    margin: 0;
    margin-left: 0;
    height: 100%;
    width: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(81, 81, 255);
    animation-name: extendLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 3;
    transform: scale(2.0,1.0) translateX(25%);
    overflow: hidden;
}

.splashLeftShrink{
    position: relative;
    margin: 0;
    margin-left: 0;
    height: 100%;
    width: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(74, 74, 192);
    animation-name: shrinkLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
    overflow: hidden;
}

.splashRight{
    position: relative;
    margin: 0;
    margin-left: 0;
    height: 100%;
    width:50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: rgb(74, 74, 192);
    overflow: hidden;
}

.splashRightExtend{
    position: relative;
    height: 100%;
    width: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(2.0,1.0) translateX(-25%);
    background-color: rgb(81, 81, 255);
    animation-name: extendRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 3;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.splashRightShrink{
    position: relative;
    margin: 0;
    margin-left: 0;
    height: 100%;
    width: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(74, 74, 192);
    animation-name: shrinkRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
    overflow: hidden;
}

@keyframes extendLeft {

    0%{
        transform: scale(1.0,1.0)  translateX(0%);

    }

    100%{
        transform: scale(2.0,1.0)  translateX(25%);
    }

}

@keyframes extendRight {

    0%{
        transform: scale(1.0,1.0);

    }

    100%{
        transform: scale(2.0,1.0)  translateX(-25%);
    }

}

.splashImage{
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.splashImageExtend{
    animation-name: extendImg;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
}

@keyframes extendImg {

    0%{
        opacity: 50%;
    }

    100%{
        opacity: 100%;

    }

}

.tradHeader{
    position: absolute;
    opacity: 100%;
    z-index: 5;
    top: 25%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: 5px 5px .5rem rgba(0, 0, 0, 0.489);
    transform: scale(1.0,1.0);
    font-size: 28px;
    padding: 10px;
}

.tradHeaderExtend{
    position: absolute;
    opacity: 100%;
    z-index: 5;
    top: 25%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: 5px 5px .5rem rgba(0, 0, 0, 0.489);
    transform: scale(.5,1.0);
    animation-name: extendH1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    font-size: 28px;
    padding: 10px;
}

.elecHeader{
    position: absolute;
    opacity: 100%;
    z-index: 5;
    top:25%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: 5px 5px .5rem rgba(0, 0, 0, 0.489);
    font-size: 28px;
    padding: 10px;
}

.elecHeaderExtend{
    position: absolute;
    opacity: 100%;
    z-index: 5;
    top: 25%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: 5px 5px .5rem rgba(0, 0, 0, 0.489);
    transform: scale(.5,1.0);
    animation-name: extend;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    font-size: 28px;
    padding: 10px;
}

@keyframes extendH1R {

    0%{
        transform: scale(1.0,1.0);
    }

    100%{
        transform: scale(.5,1.0);

    }

}

.hidden{
    width: .1px;
    height: .1px;
}
