.detailHolderSingle{
    min-height: 650px;
}

.navBack{
    /* border: 2px solid gray; */
    display: inline-block;
    position:relative;
    left: 19%;
    padding:10px 0;
}

.placeholderNav{
    padding: 0;
    margin: 0;
    font-weight: bolder;
}

.placeholderNav:hover{
    cursor: pointer;
    text-decoration: underline;
}

.previewImage{
    height: 86px;
    width: 86px;
    overflow: hidden;
    background-color: beige;
    border: 10px solid grey;
    border-radius: 1rem;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.previewImageNot{
    height: 86px;
    width: 86px;
    overflow: hidden;
    border: 10px solid grey;
    border-radius: 1rem;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.previewImage:hover{
    cursor: pointer;
    box-shadow: 1px 1px .5rem;
}

.selected{
    border-color: blue;
    background-color: beige;
}

.previewImage > img{
    height: 100%;
}
.topInfo{
    display: flex;
    flex-direction: row;
    width:1000px;
    margin: 0 auto;
    /* border: 2px solid; */
}

.topImage{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    background-color: beige;
    border: 10px solid grey;
    border-radius: 1rem;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.topImage > img{
    max-height: 100%;
}

.topDescrip{
    display: flex;
    flex-direction: column;
    width:300px;
    margin: 0 50px;
    word-break: break-all;
}

.topTags{
    /* border: 2px solid; */
    display: flex;
    width: 100%;
    height: 100px;
    column-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.topTags > p{
    margin: 0;
    padding: 0;
    display: inline;
    height:20px;
    background-color: lightgray;
    color: black;
    border: 7px solid lightgray;
    border-radius: .5rem;
    box-shadow: 5px 5px .5rem lightgray;
}

.topButtons{
    /* display: flex; */
    /* flex-direction: column; */
    margin: auto;
    width:100px;
}

.priceDetail{
    font-size: 20px;
    width:55px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 3px solid;
    background-color: white;
    border-radius: 1rem;
}

.cartButtonDetail{
    border-radius: 1rem;
    padding: 5px 10px;
    background-color: white;
}

.cartButtonDetail:enabled:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.bottomInfo{
    width: 60%;
    padding: 10px;
    margin: 15px auto;
    /* border: 2px solid; */
    font-size: larger;
    box-shadow: 5px 5px .5rem;
    text-wrap: wrap;
    word-break: break-all;
    background-color:aliceblue
}

.modalImageContained{
    height: 400px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    /* border: 2px solid white; */
}

/* .buttonContainerModal{

} */

.modalImageCont{
    min-height: 200px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid white; */
}

.modalImage{
    max-height: 75%;
    /* width: 100%; */
    align-self: center;

}

.exit{
    position: absolute;
    font-weight: bolder;
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: white;
}

.exit:hover{
    cursor: pointer;
}

.delete{
    right: 15%;
    position: absolute;
    font-weight: bolder;
    font-size: 48px;
    padding: 0;
    margin: 0;
    color: white;
}

.delete:hover{
    cursor: pointer;
}

.confirmTrashHolder{
    height: 400px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    border: 2px solid azure;
    border-radius: 2rem;
}

.confirmTrashButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    gap: 10px;
}

.confirm{
    height: 30px;
    width:100px;
    font-size: large;
    background-color: red;
    color: azure;
    border: 2px solid red;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.confirm:hover{
    background-color: rgb(214, 0, 0);
    border-color: rgb(214, 0, 0);
    cursor: pointer;
}

.deny{
    height: 30px;
    width:100px;
    font-size: large;
    background-color: rgb(38, 38, 38);
    color: azure;
    border: 2px solid rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.deny:hover{
    background-color: rgb(31, 31, 31);
    border-color: rgb(31, 31, 31);
    cursor: pointer;
}

.previewAdd{
    background-color: beige;
    height: 86px;
    width:86px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid grey;
    border-radius: 1rem;
    margin-right: 15px;
}
.previewAdd > *{
    color: gray;
    font-size: 20px;
}

.previewAdd:hover{
    cursor: pointer;
    border-color: rgb(152, 152, 152);
}

.previewImageHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Currimage:hover{
    cursor: pointer;
}

.addPhoto{
    height: 175px;
    background-color: azure;
    border: 35px solid azure;
    border-radius: 2rem;
}

.inputHoldersModal{
    display: flex;
    flex-direction: column;
}
