.articleFormHolder{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width:400px;
    /* border: 2px solid; */
    /* justify-content: center; */
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.articleForm{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width:400px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px 0;
}

.tagDisplayArticle{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.inputHolderPostArticle{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}

.postArticleDescript{
    resize: none;
    overflow-y: scroll;
    height: 250px;
}
