.profileHolder{
    display: flex;
    width: 70%;
    margin: 0 auto;
    column-gap: 10%;
    min-height: 600px;
}

.navHolderLeft{
    margin: 0;
    padding: 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.navTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
}

.navTop > *{
    padding: 0%;
    margin: 5% 0%;
}

.profilePlaceholder{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: magenta;
    color: aliceblue;
    font-size: 50px;
}

.ratingHolder{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5%;
}
.accountRating{
    display: flex;
}

.oddStarActive{
    /* position: absolute; */
    margin: 0%;
    padding: 0%;
    color: gold;
    transform: rotateY(180deg);
}

.evenStarActive{
    position: relative;
    margin: 0%;
    padding: 0%;
    color: gold;
    /* transform: rotateY(180deg); */
}

.navBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.activeNav{
    text-decoration: underline;
    color: purple;
}

.activeNav:hover{
    cursor:default;
}

.inactiveNav{
    color: gray;
}

.inactiveNav:hover{
    cursor: pointer;
    color: purple;
}

.displayHolderRight{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
}

.profileProductBlock{
    display: flex;
    width: 100%;
    height: 200px;
    column-gap: 50px;
    padding: 10px 50px;
    border: 5px solid darkgray;
    border-radius: 1rem;
    background-color: darkgray;
}

.profileProductBlock:hover{
    cursor: pointer;
    box-shadow: 5px 5px 1rem black;
}

.profileProductImgHolder{
    width: 20%;
    border: 5px solid;
    padding: 5px;
    background-color: lightgray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profileProductImgHolder > img{
    height: 100%;
}

.blockDescriptionProfile{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.blockDescriptionProfile > *{
    margin: 0;
    padding: 0;
}

.profileTagHolder{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.profileTagHolder > p{
    margin: 0;
    background-color: lightgray;
    border: 7px solid lightgray;
    border-radius: 2rem;
}

.buttonsProfile{
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    column-gap: 10px;
}

.reviewBlock{
    display: flex;
    align-items: center;
    gap: 50px;
    border: 7px solid darkgray;
    background-color: darkgray;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 1rem;
}

.reviewBlock:hover{
    box-shadow: 5px 5px .5rem black;
    cursor: pointer;
}

.reviewBlockLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.imgHolderReviewProfile{
    height: 150px;
    border: 7px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    background-color: lightgray;
    border-radius: 1rem;
}

.imgHolderReviewProfile > img{
    max-height: 100%;
}

.reviewProfileRating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviewBodyDescript{
    word-break: break-all;
    text-wrap: wrap;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.reviewBody{
    word-break: break-all;
    background-color: aliceblue;
    height: 100px;
    border: 2px solid;
    width: 90%;
    padding: 15px;
}

.updateButton{
    background-color: white;
    padding: 5px 8px;
    border: 2px solid black;
}

.updateButton:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.articleBlockProfile{
    display: flex;
    width: 100%;
    height: 200px;
    column-gap: 50px;
    padding: 10px 50px;
    border: 5px solid darkgray;
    border-radius: 1rem;
    background-color: darkgray;

}

.articlePBImgHolder{
    height: 100%;
    overflow: hidden;
    border: 2px solid;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articlePBImgHolder > img{
    max-height: 100%;
}

.articlePBDescript{
    width: 50%;
    word-break: break-all;
    text-wrap: wrap;
}

.articlePBInteract{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1350px){
    .profileHolder{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .profilePlaceholder{
        width: 256px;
        height: 256px;
    }
    .navBottom{
        flex-direction: row;
        column-gap: 20px;
    }
    .profileProductBlock{
        height: 200px;
        width: 80%;
    }
    .articleBlockProfile{
        height: 200px;
        width: 80%;
    }
    .imageHolder{
        width:256px;
    }
    .profileTagHolder > p{
        margin: 0;
    }
    .profileTagHolder{
        display: none;
    }
    .paginationNav{
        font-size: 22px;
    }
    .manageInfo{
        justify-content: center;
    column-gap: 50px;
    }
}

@media screen and (max-width:750px){
    .blockHolder{
        min-height: 100px;
    }
    .manageInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profileProductBlock{
        height: 160px;
        width: 75%;
    }
    .navBottom{
        flex-direction: column;
        column-gap: 20px;
    }
    .manageDescription > p{
        padding: 0;
        margin: 0%;
    }
    .imageHolder{
        height: 85%;
        width: 60%;
    }

    .paginationNav{
        font-size: 20px;
    }

    .mobileFilters{
        display: block;
    }
}
