.holderDetail{
    padding: 50px 0;
}

.emptyDetail{
    min-height: 600px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    cursor: default;
}

.navButtonsDetail{
    display: flex;
    column-gap: 15%;
}

.navButtonsDetail > button{
    width: 100px;
    height:50px;
    overflow: hidden;
    text-align: center;
    border: 2px solid;
    background-color: aliceblue;
    border-radius: 1rem;
}

.navButtonsDetail > button:hover{
    cursor: pointer;
    background-color: rgb(205, 215, 222);
}

.detailHolder{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 20px solid;
    border-radius: .75rem;
    background-color: aliceblue;
    min-height: 550px;
}

.detailDisplay{
    padding: 12% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 10px solid;
    border-radius: .25rem;
    row-gap: 20px;
}

.detailBlock{
    display: flex;
    flex-direction: row;
    height:150px;
    background-color: lightgray;
    border: 5px solid lightgray;
    border-radius: 1rem;
    width: 80%;
}

.detailBlock:hover{
    cursor: pointer;
    box-shadow: 5px 5px .5rem black;
}

.imageHolderDetail{
    margin-right: 1%;
    padding: 0%;
    max-height: 100%;
    width: 25%;
    border: 5px solid gray;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: beige;
}

.descriptionDetail{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.interactDetail{
    display: flex;
    /* border: 2px solid; */
    height: 50px;
    width: 10%;
    align-self: center;
}

.interactDetail > button{
    /* display: flex; */
    border: 2px solid;
    height: 25px;
    width: 75px;
    border-radius: 2rem;
    background-color: azure;
}

.interactDetail > button:hover{
    cursor: pointer;
    background-color: rgb(213, 225, 225);
}

.detailInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    /* padding: 0 -50px; */
    width: 100%;
    background-color: rgb(203, 211, 218);
}

.manageDetailButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-left: 10px;
}

.manageDetailButtons > button{
    height: 50px;
    background-color: azure;
    border-radius: 2rem;
    width: 150px;
}

.confirmDetail:hover{
    background-color: rgb(213, 225, 225);
    cursor: pointer;
}

.transac-danger:enabled:hover{
    background-color: red;
    color: azure;
    cursor: pointer;
}

.hide-transac{
    display: none;
}

.transac-update:enabled:hover{
    background-color: rgb(213, 225, 225);
    cursor: pointer;
}
