.navLogo{
  margin: 0;
  padding: 0;
  height: 95px;
  width: 300px;
}

.navLogo:hover{
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  height: 150px;
  width: 100px;
  background-color: azure;
  border: 2px solid;
  /* margin-left: auto; */
  z-index: 1;
  top:6.5%;
  right:0.5%;
  color: black;
}

.navBar{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 95px;
  /* border: 10px solid #EEF4ED ; */
  overflow: hidden;
  box-shadow: 0px 1px;
}

.navLinks{
  padding: 0;
  margin: 0;
  display: flex;
}

.navL {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  border: 2px solid;
  height: 92px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
}

.navL:hover {
  background-color: rgb(188, 195, 201);
}

.loginButtons{
  display: flex;
  gap: 20px;
}

.loggedInButtons{
  display: flex;
  gap: 200px;
}
