.navLogo{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 300px;
}

.navLogo:hover{
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  height: 150px;
  width: 100px;
  background-color: azure;
  border: 2px solid;
  /* margin-left: auto; */
  z-index: 9001;
  top:6.5%;
  right:0.5%;
  color: black;
}

.navBar{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 100px;
  /* border: 10px solid #EEF4ED ; */
  overflow: hidden;
  box-shadow: 0px 1px;
}

.navLinks{
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.navL {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  border: 2px solid;
  height: 97%;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
}

.navL:hover {
  background-color: rgb(188, 195, 201);
}

.loginButtons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginButtons > button{
  font-size: 14px;
  padding: 10px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.loginButtons > button:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.loggedInButtons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart{
  font-size: 20px;
  padding: 5px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.cart:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.userIcon{
  font-size: 20px;
}

.userIcoButton{
  padding: 5px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.userIcoButton:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.menuButton{
  background-color: white;
  border: 2px solid black;
  border-radius: .5rem;
  margin: 2px 0;
}

.menuButton:hover{
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
