.navLogo{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 300px;
}

.navLogo:hover{
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  height: 150px;
  width: 100px;
  background-color: azure;
  border: 2px solid;
  /* margin-left: auto; */
  z-index: 9001;
  top:6.5%;
  right:0.5%;
  color: black;
}

.navBar{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 100px;
  /* border: 10px solid #EEF4ED ; */
  overflow: hidden;
  box-shadow: 0px 1px;
}

.navLinks{
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.navL {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  border: 2px solid;
  height: 97%;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
}

.navL:hover {
  background-color: rgb(188, 195, 201);
}

.loginButtons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginButtons > button{
  font-size: 14px;
  padding: 10px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.loginButtons > button:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.loggedInButtons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart{
  font-size: 20px;
  padding: 5px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.cart:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.userIcon{
  font-size: 20px;
}

.userIcoButton{
  padding: 5px;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid;
}

.userIcoButton:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

.menuButton{
  background-color: white;
  border: 2px solid black;
  border-radius: .5rem;
  margin: 2px 0;
}

.menuButton:hover{
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.HamburgerMenu{
  display: none;
}

.hamburgerMenu{
  display: none;
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: azure;
  overflow-y: scroll;
}

.menuInterior{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  flex-flow: column;
  /* row-gap: 20px; */
  background-color: antiquewhite;
}

.hamburgerButton{
  background-color: antiquewhite;
  margin: 0;
  margin-top: 5px;
  padding: 20px 0;
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 100%;
  font-size: 40px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  flex-flow: column;
}

.hamburgerButton:hover{
  background-color: rgb(226, 212, 193);
}

.hidden{
  display: none;
}

.closeHamburger{
  position: absolute;
  font-size: larger;
  right: 0%;
  top: 0%;
  padding: 20px;
  border: 2px solid;
  background-color: azure;
}



@media screen and (max-width:1050px){
  .navL{
    display: none;
  }
  .HamburgerMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: lightgray;
    top: 15%;
    right: 0%;
    z-index: 1;
    font-size: 50px;
    padding: 15px;
    border: 2px solid;
    border-radius: 2rem 0rem 0rem 2rem;
    cursor: pointer;
  }
  .HamburgerMenu:hover{
    background-color: rgb(185, 185, 185);
  }
  .hamburgerMenu{
    display: block;
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: azure;
    height: 100vh;
  }
}

@media screen and (max-width:550px){
  .loginButtons{
    display: none;
  }
  .loggedInButtons{
    display: none;
  }
  .navBar{
    box-shadow: none;
    display: block;
    width: 100%;
  }
  .navLogo{
    width: 100%;
  }
  .navLinks{
    width:100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
  }
  .HamburgerMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: lightgray;
    top: 17%;
    right: 0%;
    font-size: 30px;
    padding: 15px;
    border: 2px solid;
    border-radius: 2rem 0rem 0rem 2rem;
    cursor: pointer;
  }
  .hamburgerButton{
    font-size: 24px;
  }
}
